.card {
  background-image: url(public/imagelogo/fond2.jpg);
  width: 170px;
  height: 260px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-items: center;
  border:
    solid 4px,
    white;
  border-radius: 8px;
  body {
    background: linear-gradient(#670208, #151414, #670208);
    // background-repeat: no-repeat;
    // max-width: 900px;
    // margin: auto;
  }
  .thanos {
    width: 94%;
    height: 62%;
    margin-left: 2.5%;
    border: solid 4px white;
    margin-top: 4%;
    border-radius: 8px;
  }
  h1 {
    color: white;
    text-align: center;
    margin-bottom: 16%;
    font-size: 1.5rem;
    margin-top: -18%;
    opacity: 90%;
    margin-left: -5%;
  }
  .rectangle {
    border: solid, white;
    background-color: black;
    opacity: 80%;
    width: 63%;
    height: 78%;
    margin-top: 10px;
    margin-left: 28px;
    border-radius: 8px;
  }
}

.flexBox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem 0;
  align-items: center;
  padding: 2%;
  margin: auto;
  max-width: 1000px;
}

.arrow {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: -324px;
  height: 15%;
  margin-left: 8%;
  margin-right: 8%;
}

@media (max-width: 500px) {
  .flexBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    max-width: 350px;
    gap: 8px;
  }
  .card {
    background-image: url(imagelogo/fond2.jpg);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-items: center;
    border:
      solid 4px,
      white;
    border-radius: 8px;
  }
  .thanos {
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin-left: 13px;
    border: solid 4.5px white;
    margin-top: 5px;
    border-radius: 8px;
  }
  h1 {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    margin-top: -24px;
    opacity: 90%;
  }
  .rectangle {
    border: solid, white;
    background-color: black;
    opacity: 80%;
    width: 50%;
    height: 25px;
    margin-left: 35px;
    border-radius: 8px;
  }
  .arrow {
    display: none;
  }
}
