
.grid-box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem 0;
  align-items: center;
  padding: 2%;
  margin: auto;
  max-width: 1300px;
  .card {
    background-image: url(pictures/background-amended.jpg);
    width: 170px;
    height: 260px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-items: center;
    border:
      solid 4px,
      white;
    border-radius: 8px;

    img {
      width: 150px;
      height: 150px;
      margin-left: 3.5%;
      border: solid 4px white;
      margin-top: 4%;
      border-radius: 8px;
    }
    button {
      background: none;
      border: none;

      .heart {
        position: relative;
        width: 25px;
        height: 25px;
        transform: rotate(-45deg);
        animation: beat 1s infinite ease-in-out;
        margin-left: -103px;
        margin-top: 16px;

        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }


        &::before {
          top: -50px;
          left: 0;
        }

        &::after {
          top: 0;
          left: 50px;
        }
      }
    }

    @keyframes beat {
      0%,
      100% {
        transform: scale(1) rotate(-15deg);
      }
      50% {
        transform: scale(1.1) rotate(-35deg);
      }
    }
    h2 {
      color: white;
      text-align: center;

      font-size: 1.3em;

      opacity: 90%;

      font-family: 'Aclonica', sans-serif;
      border: solid, white;
      background-color: black;
      opacity: 85%;
      height: 13%;
      margin-top: 10px;
      border-radius: 8px;
      overflow-y: scroll;
    }
  }
}
@media (max-width: 500px) {
  .grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    max-width: 350px;
    gap: 8px;
  }
  .card {
    background-image: url(pictures/background-amended.jpg);
    width: 200px;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-items: center;
    border:
      solid 4px,
      white;
    border-radius: 8px;
  }
  img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin-left: 13px;
    border: solid 4.5px white;
    margin-top: 5px;
    border-radius: 8px;
  }
  h2 {
    color: white;
    text-align: center;
    font-size: 1em;
    margin-top: -24px;
    opacity: 90%;
    border: solid, white;
    background-color: black;
    opacity: 80%;
    width: 50%;
    height: 25px;
    margin-left: 35px;
    border-radius: 8px;
  }

  .arrow {
    display: none;
  }
}
