@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.favorite {
  background: linear-gradient(#670208, #151414 25% 76%, #670208);

  height: 690px;
  padding-top: 60px;

  .Favorite-typo {
    background-color: #670208;
    font-family: 'Aclonica', sans-serif;
    padding-top: 60px;
    width: 240px;
    font-size: 15px;
    padding: 14px;
    border-radius: 10px;
    margin-left: 20px;
    color: white;
    box-shadow: 0px 2px 6px black;
    align-items: center;
    text-shadow: 3px 2px 8px black;
  }
}
