@use 'settings.scss' as *;
.favorite {
  padding: 20px 0 0 20px;

  .favor {
    display: none;
  }

  .typo {
    background: $primary-color;
    font-family: 'Aclonica', sans-serif;
    padding-top: 60px;
    width: 240px;
    font-size: 16px;
    padding: 14px;
    border-radius: 10px;
    margin-left: 160px;
    color: $text-color;
    box-shadow: 0px 2px 6px $background-card;
    align-items: center;
    text-shadow: 3px 2px 8px $background-card;
  }
  @media screen and (min-width: 301px) and (max-width: 644px) {
    .typo {
      margin-left: 27px;
    }
  }
}
