@use 'settings' as *;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100px;
    animation: spin 1s linear infinite;
    padding-top: 30px;
  }
}
