@use 'settings' as *;

.modal {
  //version mobile:
  @media (max-width: 768px) {
    width: 90%;
    height: 90%;
    padding: 10px;
    div {
      img {
        width: 100%;
      }
      h1 {
        font-size: 1rem;
        top: 150px;
        width: 100%;
        margin-top: -20px;
      }
    }
    .comics-content {
      height: 30vh;
      img {
        width: 40%;
      }
    }
  }

  position: fixed;
  text-align: center;
  border: 2 solid $text-color;
  left: 50%;
  top: 50%;
  width: 18%;
  transform: translate(-50%, -50%);
  background: $background-image;
  background-position: center;
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  box-shadow: $background-shadow;
  z-index: 1000;

  div {
    margin: 0 0 20px 0px;
    position: relative;

    img {
      width: 105%;
    }

    h1 {
      position: absolute;
      top: 238px;
      background: $background-card;
      padding: 10px;
      left: 50%;
      border: 1px solid $text-color;
      border-radius: 10px;
      transform: translateX(-50%);
      color: $text-color;
      width: 50%;
      font-size: 1.5rem;
      margin-top: -26px;
    }
  }

  .comics-content {
    background-color: $background-comics;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 20vh;

    img {
      width: 28%;
    }
  }

  button {
    padding: 8px;
    border-radius: 50px;
    border: none;
    transition: all 0.5s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      background-color: $button-color-hover;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
