.modal {
  position: fixed;
  text-align: center;
  left: 50%;
  top: 50%;
  width: 18%;
  transform: translate(-50%, -50%);
  background-color: ulr('../../public/44gbw2j81od51.webp');
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;

  img {
    width: 100px;
  }

  h1 {
    font-size: 1.5rem;
    margin: 10px 0;
  }

  .comics-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  button {
    padding: 8px;
    border-radius: 50px;
    border: none;
    transition: all 0.5s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      background-color: #0f0;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
