@use 'settings' as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  img.logo {
    width: 70px;
    height: auto;
    margin-left: 20px;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 40px;

    .my-link {
      color: white;
      text-decoration: none;
      display: flex;
    }

    img {
      width: 23px;
      height: 23px;
      margin-bottom: 05px;
      padding-right: 1px;
    }

    li {
      display: flex;
      align-items: center;
      font-size: 22px;
      color: white;
      font-family: $font-family;
      margin-left: 20px;
    }
    .input-wrapper {
      width: 170px;
      border-radius: 5px;
      box-shadow: 0px 0px 8px;
      display: flex;
      align-items: center;
    }

    input {
      font-family: $font-family;
      height: 30px;
      border-radius: 8px;
      padding-left: 5px;
      border: none;
      background-color: transparent;
      font-size: 20px;
      width: 140px;
      color: white;
    }

    input::placeholder {
      color: white;
    }

    input:focus {
      outline: none;
    }
  }
}

@media (max-width: 830px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;

    img.logo {
      width: 70px;
      height: auto;
      margin-left: 5px;
    }

    .navbar > ul {
      padding: 0;
      gap: 0;
    }

    .nav-links {
      padding: 0;
    }

    .nav-links > li:nth-child(1) {
      display: none;
    }

    .nav-links > li:nth-child(3) {
      display: none;
    }

    .nav-links > li:nth-child(4) {
      display: none;
    }
  }
}
