@use 'settings.scss' as *;

.profile {
  max-width: 920px;
  margin: 0 auto;
  overflow: auto;

  .comics-characters {
    .character-content {
      .present {
        display: flex;
        margin-top: 5%;
        .image-containe {
          img {
            width: 300px;
            margin: 1% 0;
            height: 300px;
            border-radius: 2%;
            margin-top: 7%;
          }
        }
        span {
          font-weight: bold;
        }

        .btn {
          button {
            background: $background-card;
            color: $text-color;
            border: 1px solid $background-card;
            border-radius: $border-radius;
            padding: 0.3rem 0.6rem;
            margin: 0.3rem;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
              background: none;
              color: $text-color;
              border: 1px solid $text-color;
              transform: scale(1.05);
            }
          }
        }
      }
      .bio {
        margin-left: 16%;
        margin-top: 2%;
        h3 {
          font-size: 3.3rem;
          font-family: $font-family;
        }
        p {
          font-size: 1.5rem;
          font-family: $font-family;
        }
      }
      .comics-section {
        margin: 0.3%;
      }
      h1 {
        font-size: 1.5rem;
        margin: 1rem 0;
      }

      .comics-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        max-width: 880px;
        margin: 2.5rem auto;

        a {
          width: 18%;
          text-align: center;
          text-decoration: none;
          color: $text-color;
          transition: all 0.5s ease;
          position: relative;

          img {
            width: 160px;
            height: auto;
          }

          p {
            font-size: 0.8rem;
            position: absolute;
            bottom: 4rem;
            background: $background-card;
            left: 0;
            right: 0;
            text-transform: uppercase;
            opacity: 0;
            transition: all 0.5s ease;
            transform: translateY(-100%);
          }

          &:hover {
            transform: scale(1.05);
            p {
              opacity: 1;
              transform: scale(1.05);
              transform: translateY(0);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .profile .comics-characters .character-content .comics-list {
    display: flex;
    gap: 16px 70px;
  }
}
