@use 'settings.scss' as *;

.profile {
  max-width: 1000px;
  margin: 0 auto;

  .comics-characters {
    .character-content {
      .present {
        img {
          width: 24%;
          margin: 1% 0;
          border-radius: 2%;
        }

        span {
          font-weight: bold;
        }

        .btn {
          button {
            background: $background-card;
            color: $text-color;
            border: 1px solid $background-card;
            border-radius: $border-radius;
            padding: 0.3rem 0.6rem;
            margin: 0.3rem;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
              background: none;
              color: $text-color;
              border: 1px solid $text-color;
              transform: scale(1.05);
            }
          }
        }
      }

      .comics-section {
        margin: 0.3%;

        .comics-list {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          max-width: 880px;
          margin: 0 auto;

          a {
            width: 100px;
            text-align: center;
            text-decoration: none;
            color: $text-color;

            img {
              width: 100%;
              height: auto;
            }

            p {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
