$text-color: #f4f4f4;
$background-image: url('/background-image.webp');
$background-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
$background-comics: rgba(0, 0, 0, 0.5);
$background-card: #000000bf;
$button-color-hover: rgb(32, 73, 211);
